/* Reset básico */
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Archivo", serif;
    scroll-behavior: smooth;
    scroll-padding: 3.125rem;
  }
  
  /* Body */
  body {
    background-color: #111111;
  }
  
  a{
    text-decoration: none;
  }
  
  button{
    background: none;
    border: none;
    text-decoration: none;
  }

  #popup{
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: #D92525;
    color: white;
    padding: 15px 25px;
    border-radius: 30px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
    font-size: 16px;
    font-weight: bold;
    display: none;
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.5s, transform 0.5s;
  }

