/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background-color: #000;
  color: #fff;
  position: relative;
  z-index: 1000;
}

/* Menu Hamburguer */
.menu-toggle {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.menu-toggle span {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #fff;
  transition: all 0.4s ease;
}

.menu-toggle.active span:nth-child(1) {
  transform: translateY(6px) rotate(45deg);
}

.menu-toggle.active span:nth-child(2) {
  opacity: 0;
}

.menu-toggle.active span:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
}

/* Logo */
.logo img {
  height: 65px;
}

/* Botão */
.button {
  background: #444;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
}

.button:hover {
  background: #3D3D3D;
}

/* Navegação Desktop */
.nav {
  display: flex;
  gap: 20px;
}

.nav-item {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  transition: color 0.3s;
}

.nav-item:hover {
  color: #D92525;
}

@media (max-width: 768px) {
  .menu-toggle {
    display: flex; 
  }

  /* Navegação Mobile */
  .nav {
    display: none;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    background-color: #000;
    flex-direction: column;
    gap: 10px;
    padding: 35px;
    text-align: center;
  }

  .nav.active {
    display: flex;
  }  
  
  .nav {
    flex-direction: column;
  }

  .button {
    display: flex; /* Esconde o botão no mobile */
    width: 95px;
    font-size: 12px;
  }
}

/* Banner */
.banner img {
  width: 100%;
}

/* Seção de Serviços */
  .servicos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 1000px;
    margin: 40px auto;
    background-color: #1B1B1B;
    padding: 50px;
    position: relative;
    border-radius: 10px;
    margin-top: -45px;
  }

/* Título dos serviços */
.titulo-servicos {
  grid-column: 1 / -1; /* Ocupar toda a largura */
  margin-bottom: 30px;
}

.titulo-servicos h2 {
  font-size: 1.2rem;
  color: #B0B0B0;
  margin-bottom: 15px;
}

.linha {
  width: 100%;
  height: 1.5px;
  background-color: #FAFAFA;
  margin: 0 auto;
}


.servico {
  background-color: #3D3D3D;
  border-radius: 10px;
  padding: 25px;
  text-align: center;
  position: relative;
  transition: transform 0.3s;
}

.servico:hover {
  transform: translateY(-10px);
}

.servico img {
  width: 120px;
}

.servico p {
  margin-top: 10px;
  font-size: 1rem;
  color: #FAFAFA;
}

.botao-vermelho {
  position: absolute;
  bottom: 20px;
  right: 50%;
  transform: translateX(50%);
  width: 40px;
  height: 40px;
  background-color: #D92525;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  margin-bottom: 35px;
}

.botao-vermelho img {
  width: 50%;
  height: 50%;
  margin: 0;
}

/* Botão Mais Informações */
.mais-informacoes {
  text-align: center;
  margin: 40px 0;
}

.mais-informacoes a {
  display: inline-block;
  padding: 15px 65px;
  color: #FAFAFA;
  border: 2px solid #D92525;
  border-radius: 40px;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s ease;
  margin-bottom: 120px;
}

.mais-informacoes a:hover {
  background-color: #636363;
  color: #FAFAFA;
  scale: 1.1;
}

/* Seção de Oficinas */

/* Título dos serviços */

.oficinas{
  height: auto;
  padding: 80px;
  background-color: #FAFAFA;
}

.bg-oficinas {
  gap: 20px;
  max-width: 1000px;
  margin: 40px auto;
  background-color: #E7E7E7;
  padding: 50px;
  position: relative;
  border-radius: 10px;
  margin-top: -120px;
}

.titulo{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  margin: 15px;
  
}

.titulo h2 {
  font-weight: 400;
  font-size: 1.2rem;
  color: #B0B0B0;
  margin-bottom: 15px;
}

.linha-encontre{
  width: 100%;
  height: 1.5px;
  background-color: #b0b0b0b1;
  margin: 0 auto;
}

.titulo-oficinas {
  margin-bottom: 30px;
}

.titulo-oficinas h2 {
  font-size: 1.2rem;
  color: #B0B0B0;
  margin-bottom: 15px;
}

.linha-vermelha {
  width: 125px;
  height: 1.5px;
  background-color: #D92525;
  margin-bottom: 15px;
  margin-inline: 15px;
}

.textos{
  margin: 15px;
}

.textos p {
  font-size: 0.9rem;
  margin: 5px 10px;
  color: #B0B0B0;
  text-decoration: uppercase;
}



.card {
  background-color: #000;
  border-radius: 10px;
  overflow: hidden;
  width: 300px;
  margin: 0 auto;
  padding-bottom: 15px;
}

.card:hover{
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.card__img img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.botoes {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.botoes button {
  background-color: #D92525;
  border: none;
  padding: 16px;
  border-radius: 50%;
  cursor: pointer;
}

.botoes img {
  width: 20px;
}


/* Seção de Perguntas */
/* Seção de Perguntas */
.questions {
  display: flex;
  align-items: center; /* Alinha verticalmente */
  justify-content: center; /* Alinha horizontalmente */
  gap: 20px; /* Espaçamento entre elementos */
  padding: 40px 20px;
  text-align: center;
}

.linha2 {
  flex: 1; /* Faz as linhas ocuparem o espaço restante */
  height: 1.5px;
  background-color: #CACACA;
}

.questions img {
  width: 50px;
}

.questions-p p{
  text-align: center;
  font-size: 1rem;
  color: #CACACA;
  margin-bottom: 35px;
}

/* Botão de Informações */
.informacoes {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.informacoes a {
  display: inline-block;
  padding: 10px 40px;
  background-color: #636363;
  color: #FAFAFA;
  text-decoration: none;
  border-radius: 20px;
  transition: background 0.3s;
}

.informacoes a:hover {
  background-color: #b0b0b0;
}

/* Depoimentos */
.depoimentos {
  text-align: center;
  padding: 40px 20px;
}

.titulo-depoimentos {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #FAFAFA;
}

.linha-vermelha {
  width: 80px;
  height: 2px;
  background-color: #D92525;
  margin: 10px auto 30px;
}

.depoimentos-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card-depoimento {
  background-color: #FFFFFF;
  color: #000;
  border-radius: 10px;
  width: 300px;
  padding: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  text-align: left;
  position: relative;
}

.aspas {
  font-size: 2rem;
  color: #D92525;
  margin: 0;
}

.texto-depoimento {
  font-size: 0.9rem;
  margin: 10px 0;
}

.autor-depoimento {
  font-size: 0.9rem;
  color: #555;
}

/* Rodapé */
.rodape {
  background-color: #000;
  color: #FAFAFA;
  padding: 40px 20px;
  text-align: center;
}

.rodape-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.logo-rodape img {
  height: 80px;
}

.redes-sociais, .contato-rodape {
  text-align: center;
}

.icones-sociais img, .icones-contato img {
  width: 30px;
  margin: 10px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.icones-sociais img:hover, .icones-contato img:hover {
  transform: scale(1.2);
}

.linha-rodape {
  width: 100%;
  height: 1px;
  background-color: #444;
  margin: 20px 0;
}

.info-legais {
  font-size: 0.8rem;
  color: #888;
}


/* Responsividade */
@media (max-width: 768px) {
  .servicos {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 0;
  }

  .card {
    width: 90%;
  }

  .bg-oficinas{
    padding: 35px;
  }

  .oficinas{
    padding: 40px;
  }

  .rodape-container{
    flex-direction: column;
  }

  .logo-rodape{
    margin-block: 25px;
  }

  .logo-rodape img{
    width: 240px;
    height: auto;
  }
}

@media (max-width: 480px) {
  .servicos {
    grid-template-columns: 1fr;
  }

  .titulo-servicos h2 {
    font-size: 1.2rem;
  }
}

